.hide {
    display: none;
}

#currentCity {
    font-size: 30px;
}

.ModLow {
    background-color: green;
    color: white;
}

.HighVH {
    background-color: yellow;
    color: black;

}

.extreme {
    background-color: red;
    color: white;

}

.card-text {
    white-space: nowrap;
}

img {
    max-width:60px;
    height:auto;
}